#StartView_rootStackPane {
    -fx-alignment: top-left;
}


#StartView_menuVBox {
    -fx-background-color: #FAE3D955;
    -fx-max-width: 180px;
    -fx-spacing: 20px;
    -fx-padding: 20px, 10px, 20px, 10px;
    -fx-alignment: bottom-center;
}


#MainView_rootHBox {
    -fx-background-color: #c7daff;
    -fx-min-height: 400px;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

#MainView_informationVBox {
    -fx-min-height: 400px;
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-alignment : center;
}

#MainView_operationHBox {
    -fx-spacing: 10px;
}

#MainView_schoolListView {
    -fx-min-width: 240px;
    -fx-max-width: 240px;
    -fx-min-height: 150px;
    -fx-max-height: 200px;
}


#MainView_teamListView {
    -fx-min-width: 240px;
    -fx-max-width: 240px;
    -fx-min-height: 150px;
    -fx-max-height: 200px;
}

#MainView_playerTableView {
    -fx-min-width: 240px;
    -fx-max-width: 240px;
    -fx-min-height: 200px;
}

#MainView_recordTableView {
    -fx-min-width: 500px;
    -fx-min-height: 400px;
}

#ExportView_rootVbox{
    -fx-padding : 10.0px;
    -fx-pref-width : 250.0;
    -fx-pref-height : 300.0;
    -fx-background-color: #c7daff;
}

#ExportView_checkBoxFlowPane{
    -fx-alignment : center;
}

#AddOrDeleteView_Layout{
    -fx-background-color: #C7DAFF;
    -fx-padding: 10px;
}

#AddOrDeleteView_recordInfoFlowPane{
    -fx-hgap : 5px;
    -fx-vgap : 10px;
}

#AddOrDeleteView_recordComboBox> .combo-box-popup .list-view{
    -fx-pref-width: 350px;
    -fx-border-color: rgb(228, 231, 237);
}

#AddOrDeleteView_playerDeleteComboBox> .combo-box-popup .list-view{
    -fx-pref-width: 200px;
    -fx-border-color: rgb(228, 231, 237);
}

#IntegerTextField{
    -fx-max-width: 30px;
    -fx-alignment: center;
}

#DoubleTextField{
    -fx-max-width: 50px;
    -fx-alignment: center;
}


#SettingView_rootGridPane {
    -fx-hgap: 20px;
    -fx-vgap: 10px;
    -fx-padding: 30px;
    -fx-alignment: center-right;
    -fx-background-color: #c7daff;
}

#SettingView_portTF{
    -fx-max-width: 50px;
}